name: Run tests

on:
  push:
    branches:
      # Push events on main branch
      - main
  pull_request:

jobs:

  tests:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.0', '8.1', '8.2']

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Run tests
        run: make test
